<!-- <p>
  {{ trip$.tripname }}
</p>
-->

<div class="row">
	<div class="triphero">
		<div class="herocontainer">
			<img [src]="trip$.tripimage" />
		</div>
	</div>
</div>

<h1>{{ trip$.tripname }}</h1>
<p>Hosted by {{ trip$.uid }}</p>
<p>{{ trip$.description }}</p>

<div class="row">
	<div class="col">
		<div>Adult : ${{trip$.costadult}}</div>
		<div>Child : ${{trip$.costchild}}</div>
	</div>
	<div class="col">
		<div>Max members accepted: {{ trip$.maxmembers }}</div>
		<div>Min members required: {{ trip$.minmembers }}</div>
	</div>
</div>

<div class="row">

<div class="col">
<div class="form-group">
	<form #f="ngForm" (ngSubmit)="showItinerary(f.value)">
		<div class="form-group">
			<label for="adults">Choose no of adult(s):</label>
			<input ngModel #adults="ngModel" id="adults" name="adults" type="number" min="0" [max]="trip$.maxmembers" class="form-control">
		</div>
		<div class="form-group">
			<label for="child">Choose no of child(ren): </label>
			<input ngModel #child="ngModel" type="number" id="child" name="child" min="0" [max]="trip$.maxmembers" class="form-control">
		</div>
		<div class="form-group">
			<label for="tripdate">Choose date:</label> 
			<input ngModel #tripdate="ngModel" type="date" id="tripdate" name="tripdate" class="form-control">
		</div>
	</form>
</div>
</div>

<div class="col">
	<h3>Costing</h3>
	<p>Adult(s) x {{ adults.value }} : ${{ (adults.value * trip$.costadult)|number }}</p>
	<p>Chid(ren) x {{ child.value }} : ${{ (child.value * trip$.costchild)|number }}</p>
	<p><strong>Total: $CAD {{ ((adults.value * trip$.costadult)*1 +  (child.value * trip$.costchild)*1)|number }}</strong></p>
</div>	

</div>



